body {
  background-color: #282828;
  color: #fafafa;

  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: 100;

  letter-spacing: 0.18em;
  text-align: center;
}

body > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#one-more {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  margin: 0;
  padding: 0;

  font-size: 42pt;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

p {
  margin: 0;
  padding: 0;
}

#what {
}

#what span {
  color: #888;
}

#where {
  margin-top: 1em;
  color: #888;
}

a, a:visited, a:hover {
  color: #888;
  text-decoration: none;
  outline: none;
}

a#mail, a#mail:visited, a#mail:hover {
  color: #fafafa;
}
