body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    background-color: #fafafa;
    color: #111;
    
    margin: 0em auto 0em;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 18pt;
    padding-top: 20px;
}

h3 {
    font-size: 14pt;
}

a, a:visited, a:hover {
    outline: none;
    color: #3366ff;
}

ul li {
    margin-bottom: 0.5em;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    background-color: #fff;
}

#sidebar > * {
    margin-left: 20px !important;
}

#sidebar h2 {
    font-size: 11pt;
    padding-left: 2px;
    color: #666;
}

#sidebar nav {
    position: absolute;
    top: 8em;
    width: 200px;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: 14pt;
}

#sidebar ul li {
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative;
}

#sidebar ul li.highlighted:after {
    border-color: transparent transparent transparent #fff;
    border-width: 19px;
    border-style: solid;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 200px;
    top: 0;
}

#sidebar ul li a {
    display: block;
    width: 195px;
    padding: 10px 0 5px 5px;
    color: #111;
    text-decoration: none;
}

#sidebar ul li:hover {
    background-color: #fafafa;
}

#sidebar ul li.highlighted {
    font-weight: bold;
    background-color: #fff;
}

#content {
    position: absolute;
    top: 0;
    left: 220px;
    width: 600px;
    bottom: 0;

    color: #333;

    padding-left: 40px;
    padding-right: 250px;
}

#content section {
    padding-top: 3em;
}

#content section.last {
    height: 100%;
}

p {
    line-height: 1.5em;
}

em {
    background-color: #ffa;
    color: #222;
    font-style: normal;
}
